body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
p {
  padding: 10px;
}
.collapse {
  display: flex;
}
.img {
  float: right;
}
